[Desktop Entry]
Name=Reddock
Comment=Manage Redroid containers with Docker to Run Android on Linux
Exec=reddock
Icon=reddock
Type=Application
Categories=Utility;
Terminal=true
